@model Employee

@{
    ViewData["Title"] = "Delete";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Silmek istediğinizden emin misiniz :  @Model.FName @Model.LName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group">
                    <label asp-for="FName" class="control-label"></label>
                    <input asp-for="FName" class="form-control" readonly />
                    <span asp-validation-for="FName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LName" class="control-label"></label>
                    <input asp-for="LName" class="form-control" readonly />
                    <span asp-validation-for="LName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" readonly />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>


                <div class="form-group mt-3">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Onay" class="btn btn-danger float-end" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


